name: Build project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  schedule:
    - cron: '30 5 * * 1'  # At 05:30 on Monday, every Monday.

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-x86_64:
    runs-on: ubuntu-latest
    steps:
      # http://man7.org/linux/man-pages/man1/date.1.html
      - name: Create Cache Key
        id: cache-key
        run: |
          echo "::set-output name=key::$(/bin/date -u "+%Y%U")"
        shell: bash

      - uses: actions/checkout@v2

      # Enable caching of Docker layers
      - uses: satackey/action-docker-layer-caching@v0.0.8
        continue-on-error: true
        with:
          key: docker-cache-${{ steps.cache-key.outputs.key }}-{hash}
          restore-keys: |
            docker-cache-${{ steps.cache-key.outputs.key }}-

      - name: Build docker image
        run: docker-compose -f docker/docker-compose.centos-6.yaml -f docker/docker-compose.centos-6.18.yaml build

      - name: Build project without leak detection
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: docker-compose -f docker/docker-compose.centos-6.yaml -f docker/docker-compose.centos-6.18.yaml run build

      - name: Build project with leak detection
        if: ${{ github.event_name == 'pull_request' }}
        run: docker-compose -f docker/docker-compose.centos-6.yaml -f docker/docker-compose.centos-6.18.yaml run build-leak

      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: target_x86_64
          path: target/ # or path/to/artifact

  build-aarch64:
    runs-on: ubuntu-latest
    steps:
      # http://man7.org/linux/man-pages/man1/date.1.html
      - name: Create Cache Key
        id: cache-key
        run: |
          echo "::set-output name=key::$(/bin/date -u "+%Y%U")"
        shell: bash

      - uses: actions/checkout@v2

      # Enable caching of Docker layers
      - uses: satackey/action-docker-layer-caching@v0.0.8
        continue-on-error: true
        with:
          key: docker-cache-${{ steps.cache-key.outputs.key }}-{hash}
          restore-keys: |
            docker-cache-${{ steps.cache-key.outputs.key }}-

      - name: Build docker image
        run: docker-compose -f docker/docker-compose.centos-7.yaml build

      - name: Build project
        run: docker-compose -f docker/docker-compose.centos-7.yaml run cross-compile-aarch64-build

      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: target_aarch64
          path: target/ # or path/to/artifact
