# ----------------------------------------------------------------------------
# Copyright 2021 The Netty Project
#
# The Netty Project licenses this file to you under the Apache License,
# version 2.0 (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at:
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
# ----------------------------------------------------------------------------
name: Build PR

on:
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryhandler.count=5 -Dmaven.wagon.httpconnectionManager.ttlSeconds=240

jobs:
  verify-pr:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      # Cache .m2/repository
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-verify-pr-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-verify-pr-
            ${{ runner.os }}-maven-
      - name: Verify with Maven
        run: ./mvnw -B -ntp --file pom.xml verify -DskipTests=true

  build-pr-ubuntu:
    runs-on: ubuntu-20.04
    needs: verify-pr
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -q -y
          sudo apt-get install -q -y autoconf automake git libtool
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        env:
          cache-name: build-pr-ubuntu-cache
        with:
          path: /home/runner/.ubuntu/
          key: ${{ runner.os }}-pr-${{ env.cache-name }}-${{ hashFiles('./github/config/user-data') }}
          restore-keys: |
            ${{ runner.os }}-pr-${{ env.cache-name }}-
            ${{ runner.os }}-pr-
      - name: Build project
        run: ./mvnw -B -ntp clean package -Dio.netty.testsuite.badHost=netty.io | tee build-leak.output

      - name: Checking for detected leak
        run: bash ./.github/scripts/check_leak.sh build.output

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results-build-pr-ubuntu
          path: '**/target/surefire-reports/TEST-*.xml'

      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: build-target-pr-ubuntu
          path: |
            **/target/surefire-reports/
            **/hs_err*.log